/***************************************************
think simple by marija zaric and distributed by http://freehtml5templates.com
 ***************************************************


 ***************************************************
 Reset
 ***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

a img {
    border: none;
}

aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/***************************************************
Global styles
 ***************************************************/

html, body {
    width:100%;
    height:100%;
}

html, body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    margin:0 0 1px;
    line-height: 1.5;
    background-color:white;
    background-image:url(../images/bg.png);
    background-position:left top;
    background-repeat:repeat;
}

p {
    margin-bottom:7px;
}

a, p a {
    text-decoration:underline;
    color:#663366;
}

a:hover {
    color:#000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    position:relative;
}

h1 {
    font-size: 60px;
    line-height:1.6;
    color:#663366;
    text-transform:capitalize;
    text-align:left;
    margin-left:40px;
}

h1 span {
    line-height:1.7px;
    color:black;
    font-size:14px;
    text-transform:none;
    display:block;
}

h2 {
    font-size: 17px;
    line-height:1.7;
    color:black;
    text-align:left;
    width:420px;
    padding-top:8px;
    margin-left:40px;
}

h3 {
    font-size: 28px;
    line-height:1.6;
    color:#00CCFF;
    text-transform:capitalize;
    text-align:left;
    background-color:transparent;
    padding-top:12px;
    margin-bottom:9px;
}

h3 span {
    font-size: 12px;
    color: black;
    text-transform:capitalize;
    height:24px;
    margin-top:15px;
    text-align:left;
    display:block;
}

h4 {
    font-size: 18px;
    line-height:1.7;
    color:black;
    text-align:left;
    width:350px;
    padding-top:8px;
    margin-bottom:12px;
}

h4 span {
    font-weight:bold;
    font-size:15px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:#FFCC33;
    padding:8px;
    margin-left:20px;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
}

/***************************************************
Main containers
 ***************************************************/

#container, #container_left, #container_right {
    position: relative;
    width:100%;
}

#container {
    position:relative;
    width:980px;
    margin:0 auto;
    text-align:justify;
    background-color:transparent;
    padding:15px;
}

.group1 {
    float: left;
    width: 260px;
    position: relative;
    background:transparent;
    padding:15px;
    margin-bottom:10px;
}

.group2 {
    float: left;
    width: 350px;
    position: relative;
    background:transparent;
    padding:15px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
}

.group3 {
    float: left;
    width: 260px;
    position: relative;
    background:transparent;
    padding:15px;
    margin-bottom:10px;
}

.group4 {
    position: relative;
    background:transparent;
    padding:15px;
    margin-bottom:10px;
    margin-right:12px;
}

.group5 {
    width: 400px;
    float: left;
    position: relative;
    padding:15px;
    margin-bottom:10px;
}

.group6 {
    width: 500px;
    float: left;
    position: relative;
    padding:15px;
    margin-bottom:10px;
}

.group_bannner_left {
    width: 420px;
    position: absolute;
    background:transparent;
    margin-top: 6px;
    margin-left: -40px;
}

header {
    position: relative;
    float:left;
    width: 100%;
    height: 70px;
}

#intro {
    width: 960px;
    position: relative;
    float: left;
    height: 160px;
    padding:10px;
    background:transparent;
    margin-top:17px;
}

.abstract {
    width: 60%;
    margin: 15px auto;
    text-align: center;
    font-style: italic;
}

.holder_content {
    position: relative;
    float: left;
    width: 100%;
    margin-top:15px;
    background:transparent;
    background: url(../images/line.png) 0 -18px no-repeat;
}

.holder_content_separator{
    margin-bottom:20px;
}

/***************************************************
FOOTER
 ***************************************************/

footer {
    position:relative;
    height:90px;
    clear:both;
    width:100%;
    margin-bottom:18px;
    background-color:#663366;
}

#FooterOne, #FooterTwo, #FooterTree {
    position: absolute;
}

#FooterOne a, #FooterTwo a, #FooterTree a {
    text-decoration: none;
}

#FooterTwo {
    position: absolute;
    right: 225px;
    top:26px;
    color:white;
}

#FooterTree {
    position: absolute;
    left: 225px;
    top:26px;
    color:white;
}

#FooterTree a {
    color: white;
}

#FooterTree a:hover, #FooterTree a:focus {
    color: black;
}

.container{
    width:980px;
    margin:0 auto;
    background-color:transparent;
}

/***************************************************
MENU
 ***************************************************/

nav {
    position:absolute;
    width:620px;
    top:43px;
    right:-12px;
    background:transparent;
}

nav ul li {
    float: left;
    line-height:normal;
}

nav ul li a {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-transform:capitalize;
    font-weight:normal;
    display:block;	/* IE6, IE7 line height fix */
    padding:15px;
    background-color:transparent;
    margin-top:0px;
    margin-right:6px;
    text-decoration:none;
}

nav ul li a:hover {
    color: gray;
}
nav ul li a.current {
    background-color:#00CCFF;
    padding:15px;
    color:white;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.content_menu {
    float: left;
    width: 274px;
    margin-top:-10px;
    margin-bottom:15px;
}

.content_menu ul {
    margin: 0px;
    padding: 0px;
    float: none;
}

.content_menu ul li {
    float: none;
    padding-bottom: 16px;
}

.content_menu ul li a {
    font-size:14px;
    line-height:normal;
    color:#33CC99;
    text-align:left;
    text-decoration:none;
    padding-left:20px;
}

.content_menu ul li a:hover {
    color:#33CC99;
}

/***************************************************
SPECIFIC
 ***************************************************/

.clearing {
    clear: both;
    display: inline;
    width: 100%;
    height: 0;
    overflow:hidden;
}

.purple {
    font-size:50px;
    color:#663366;
    float:left;
    padding:12px;
    margin:20px;
}

.address {
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
}

.annotation {
    color:#663366;
    font-size: 11px;
    font-style: italic;
}

.ribbon {
  background-color: #663366;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  left: -3em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}

.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

.git {
    font-size: 12px;
    padding: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    background-color: #000;
}
