code.php .k {color: #FF8400}
code.php .s1 {color: #56D036}
code.php .c1 {color: #BD48B3; font-style: italic}
code.php .coMULTI {color: #BD48B3; font-style: italic}
code.php .p {color: #999}
code.php .nv {color: #fff}
code.php a {text-decoration: none}
code.php .cp {color: #A829D9; font-style: italic}
code.php .na {color: #fff;}
code.php .nf {color: #fff;}

code.xml .cp {color: #A829D9; font-style: italic}
code.xml .s {color: #56DB39;}
code.xml .nt {color: #ccc;}

code.yaml .p-Indicator {color: #FF8400;}
code.yaml .c1 {color: #ccc; font-style: italic;}
code.yaml .s {color: #0086d2;}
code.yaml .nv {color: #fff;}
