<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php">
  <coverage>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>
  <php>
    <server name="PICKPOINT_API_KEY" value="YOUR_API_KEY"/>
    <server name="USE_CACHED_RESPONSES" value="true"/>
  </php>
  <testsuites>
    <testsuite name="Geocoder Test Suite">
      <directory>./Tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
