<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="tests/bootstrap.php"
    >
    <php>
        <!--
        Turn this parameter to 'false' or comment it to bypass
        the caching layer. See the `CachedResponseAdapter` class.
        -->
        <server name="USE_CACHED_RESPONSES" value="true" />

        <!-- API Keys -->
        <!-- <server name="IPINFODB_API_KEY" value="YOUR_API_KEY" /> -->
        <!-- <server name="BINGMAPS_API_KEY" value="YOUR_API_KEY" /> -->
        <!-- <server name="IGN_WEB_API_KEY" value="YOUR_API_KEY" /> -->
        <!-- <server name="GEOIPS_API_KEY" value="YOUR_API_KEY" /> -->
        <!-- <server name="MAXMIND_API_KEY" value="YOUR_API_KEY" /> -->
        <!-- <server name="MAPQUEST_API_KEY" value="YOUR_API_KEY" /> -->
        <!-- <server name="GEONAMES_USERNAME" value="YOUR_USERNAME" /> -->
        <!-- <server name="BAIDU_API_KEY" value="YOUR_API_KEY" /> -->
        <!-- <server name="TOMTOM_GEOCODING_KEY" value="YOUR_GEOCODING_KEY" /> -->
        <!-- <server name="TOMTOM_MAP_KEY" value="YOUR_MAP_KEY" /> -->
        <!-- <server name="GOOGLE_GEOCODING_KEY" value="YOUR_GEOCODING_KEY" /> -->
        <!-- <server name="OPENCAGE_API_KEY" value="YOUR_GEOCODING_KEY" /> -->

    </php>
    <testsuites>
        <testsuite name="Geocoder Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src/Geocoder/</directory>
        </whitelist>
    </filter>
</phpunit>
