name: Component

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version: ['8.2', '8.3', '8.4']
        component: [Common, Http, Plugin]
        include:
          - php-version: '8.0'
            component: Http
          - php-version: '8.0'
            component: Plugin
          - php-version: '8.1'
            component: Http
          - php-version: '8.1'
            component: Plugin

    name: PHP ${{ matrix.php-version }} / ${{ matrix.component }}

    steps:
    - uses: actions/checkout@v5

    - name: Use PHP ${{ matrix.php-version }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}
        extensions: curl

    - name: Validate composer.json and composer.lock
      working-directory: ./src/${{ matrix.component }}
      run: composer validate

    - name: Install dependencies
      working-directory: ./src/${{ matrix.component }}
      run: composer install --no-progress

    - name: Run test suite
      working-directory: ./src/${{ matrix.component }}
      run: composer run-script test
