name: Component

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php-version: ['7.3', '7.4', '8.0']
        component: [Common, Http, Plugin]

    name: PHP ${{ matrix.php-version }} / ${{ matrix.component }}

    steps:
    - uses: actions/checkout@v2

    - name: Use PHP ${{ matrix.php-version }}
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}
        extensions: curl

    - name: Validate composer.json and composer.lock
      working-directory: ./src/${{ matrix.component }}
      run: composer validate

    - name: Install dependencies
      working-directory: ./src/${{ matrix.component }}
      run: composer install --no-progress

    - name: Run test suite
      working-directory: ./src/${{ matrix.component }}
      run: composer run-script test
